<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <servlet>
        <servlet-name>HallServlet</servlet-name>
        <servlet-class>ru.job4j.cinema.servlets.HallServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>ru.job4j.cinema.servlets.PayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HallServlet</servlet-name>
        <url-pattern>/hall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
</web-app>
